{{ ansible_managed | comment }}

{% for section in mysql_root_cnf_sections %}
[{{ section['name'] }}]
user="{{ section['user'] | default(mysql_db_admin_user) }}"
host="{{ section['host'] | default('localhost') }}"
password="{{ section['password'] | default(__mysql_db_admin_password) }}"
socket="{{ section['socket'] | default(mysql_socket) }}"

{% endfor %}
